.subtotal{
  
   
   width: 100px;
    margin-right: 23px;
    margin-left: 65vw;
   
    background-color: rgb(238, 236, 234);
    width: 709px;
    padding: 10px;
}

.subtotal >button{
    margin-top: 20px;
    height: 30px;
    background-color: orange;
    outline: none;
}
